* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Garamond, serif;
  background: radial-gradient(
    circle,
    rgba(42, 128, 173, 1) 0%,
    rgba(2, 0, 36, 1) 100%
  );
}

.container {
  background: white;
  padding: 0;
}

.row {
  margin: 0;
}

ul {
  list-style-type: none;
}

.navbar-toggler {
  position: absolute;
  right: 0;
  top: 20px;
  right: 20px;
}

/* animation toggle */

.more {
  position: absolute;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.show-more {
  position: relative;
  height: 100%;
  overflow: visible;
  opacity: 1;
  /* -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in; */
  transition: position 700ms ease-in;
}

/* navigtion */
.title-area {
  padding-top: 10px;
}
.title-area h1 {
  font-size: inherit;
}
.title-area h1 a {
  color: #595858;
  font-size: 40px;
}
.title-area p {
  color: #aaaaaa;
  text-transform: lowercase;
  font-size: 21px;
  margin: 0;
  letter-spacing: 0.09em;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 30px;
  text-transform: uppercase;
  background: #111213;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar-brand {
  font-size: 12px;
  color: #fff;
}

/* search bar */

.form-inline {
  position: absolute;
  top: 20px;
  right: 20px;
}
.form-inline input {
  border-radius: 40px;
  font-size: 12px;
}
#placeholder {
  padding-left: 20px;
}

/* carousel */

#carousel {
  height: 100%;
  width: 100%;
}
.carousel-inner {
  max-height: 400px;
  min-height: 400px;
}

/* @media only screen and (max-width: 768px) {
  .carousel-inner {
    max-height: 250px;
    min-height: 250px;
  }
} */

.carousel-indicators {
  margin: 0;
  margin-left: 20px;
  right: auto;
  padding-bottom: 10px;
}

.carousel-indicators li {
  cursor: pointer;
  height: 15px;
  border-radius: 100%;
  width: 15px;
  list-style: none;
  padding: 0 !important;
  /* margin: 0 !important; */
  overflow: hidden;
  float: left;
  display: block;
  text-align: left;
  border: none !important;
}
.carousel-indicators .active {
  background: #2c83b0;
}

/* qoute */

.quote-container {
  display: flex;
  align-items: flex-end;
  background: #000;
  height: 100%;
  padding: 40px 0 50px 0;
  width: 100%;
}

.quote-wrap {
  width: calc(80% - 100px);
  padding: 0 30px;
}
.quote-wrap span {
  color: #b8b8b8;
  font-size: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 51px;
  border-radius: 100%;
  background: #303234;
}
.social-icons a img {
  height: 22px;
}

.content-container {
  display: flex;
  flex-direction: row;
  background: white;
}

/* Sidebar */

/* .content,
.sidebar {
  width: calc(100% / 2);
} */
.sidebar {
  /* max-width: 250px; */
  width: 100%;
  background: #f3f3f3;
  padding: 35px 20px;
  height: min-content;
}
.nbc-shop,
.upcoming-event,
.scoreboard {
  padding: 0;
  margin-bottom: 40px;
}

.nbc-shop .title,
.upcoming-event .title,
.scoreboard .title {
  font-size: 25px;
  margin: 0;
  padding-bottom: 30px;
}
.nbc-shop li span,
.upcoming-event li span,
.scoreboard li span {
  font-size: 13px;
}
.nbc-shop li:nth-last-child(1) {
  color: #2c83b0;
}
.upcoming-event li:nth-last-child(1) {
  color: #2c83b0;
  padding-top: 30px;
}
.scoreboard li:nth-child(2) {
  padding-bottom: 30px;
}

.content {
  background: white;
  width: calc(100% - 250px);
  padding: 5px 30px 30px 30px;
}
.post {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 30px 0 35px 0;
}
.line {
  width: 100%;
  position: absolute;
  border: 1px solid #f2f2f2;
  bottom: 0;
}
.post img {
  padding: 5px;
  background: #e5e5e5;
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}

.post-content {
  max-width: 440px;
  padding-left: 30px;
}
.post-content h2 {
  font-size: 25px;
  margin: 0;
  color: #303030;
}
.post-content .date {
  position: relative;
  bottom: 5px;
  font-size: 10px;
  color: #2c83b0;
}
.post-content p {
  font-size: 13px;
  margin: 0;
  color: #303030;
}
.post-content p.collapse[aria-expanded="false"] {
  display: block;
  height: 40px !important;
  overflow: hidden;
}

.post-content button {
  font-size: 11px;
  background: linear-gradient(#5ca9d1, #457f9e);
  color: #e1e1e1;
  width: 142px;
  height: 28px;
  border-radius: 2px;
  border: none;
  font-family: "Helvetica Neue";
  margin-top: 20px;
  text-shadow: 0 -1px 0 #7b7b7b;
}

.moreellipses {
  bottom: 0 !important;
  color: black !important;
}

.morecontent span {
  display: none;
}

/* Flicker */

.flickr-images {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
  height: auto;
  width: 100%;
}
.flickr-image {
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Pagintation */

.pagination-wrap {
  padding-top: 40px;
}
.page-item {
  margin-right: 5px;
  font-size: 12px;
}
.page-link {
  border-radius: 0 !important;
  background: #eeeeee;
  color: #9a9a9a;
}
#next-page {
}
.page-item.active .page-link {
  background: #c1c1c1;
  border-color: #c1c1c1;
}

/* sponsor */

.sponsors {
  width: 100%;
  background: white;
  padding: 0 30px;
}
.sponsors h2 {
  font-size: 25px;
}
.sponors-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 35px 0;
  flex-wrap: nowrap;
}
.sponors-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sponsor {
  width: 100%;
  margin-right: 10px;
  height: 90px;
  border: 5px solid #f6f6f6;
  padding: 10px 0;
}
.sponsor-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sponsor:nth-last-child(1) {
  margin-right: 0px;
}

/* footer */

.footer {
  padding: 20px 20px 85px 20px;
  background: black;
  font-family: "Georgia";
}

.footer .social-icons {
  justify-content: left;
}

.footer .title {
  font-size: 25px;
  color: white;
}
.contact span {
  color: #a3a3a3;
  font-size: 13px;
}
.contact ul {
  padding: 0;
  color: #6f6e6e;
  font-size: 13px;
}

.about-wrap {
  font-size: 13px;
  color: #6f6e6e;
}
.about-wrap p:nth-child(2) {
  color: #a3a3a3;
}
@media only screen and (max-width: 1200px) {
  .carousel-inner {
    max-height: 350px;
    min-height: 350px;
  }
}

@media only screen and (max-width: 992px) {
  .carousel-inner {
    max-height: 250px;
    min-height: 250px;
  }
  .quote-wrap span {
    font-size: 20px;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
  }
  .social-icons a img {
    height: 18px;
  }
  .quote-container {
    padding: 20px 0 25px 0;
  }
  .navbar {
    padding-bottom: 15px;

    flex-direction: column;
    align-items: baseline;
  }

  .navbar-nav {
    padding-top: 10px;
    flex-direction: column;
    text-align: left;
    background: #000000c4;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 76px;
    border-radius: 4px;
    align-items: start;
    width: 0;
    padding: 20px;
    justify-content: unset;
  }
  .navbar-collapse {
    position: absolute;
    right: 0;
    height: auto;
    width: 200px;
    transition: all 0.3s ease-in;
  }

  .navbar-collapse.collapsing {
    height: 0;
    transition: height 0.3s ease;
  }

  .navbar-brand {
    padding-top: 10px;
  }
  .title-area h1 {
    margin: 0;
  }
  .title-area h1 a {
    font-size: 35px;
  }
  .title-area p {
    font-size: 18px;

    letter-spacing: 0.1em;
  }
  .form-inline {
    padding-top: 10px;
    top: 0;
    right: 0;
    position: relative;
  }
  .footer .title {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-inner {
    max-height: 190px;
    min-height: 190px;
  }
  .carousel-indicators li {
    height: 10px;
    width: 10px;
  }
  .quote-container {
    padding: 10px 0 15px 0;
    flex-direction: column;
    align-items: center;
  }
  .navbar-brand {
    font-size: 10px;
    margin-right: 10px;
  }
  .title-area {
    padding: 0;
  }
  .title-area h1 a {
    font-size: 20px;
  }
  .title-area p {
    font-size: 12px;
    letter-spacing: 0.04em;
  }
  .form-inline input {
    font-size: 9px;
    height: 17px;
  }
  .quote-wrap {
    text-align: center;
    width: calc(100% - 100px);
  }
  .quote-wrap span {
    font-size: 18px;
  }
  .social-icons {
    padding-top: 15px;
    justify-content: center;
    margin: 0;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
  }
  .social-icons a img {
    height: 12px;
  }
  .nbc-shop,
  .upcoming-event,
  .scoreboard {
    margin: 0;
  }
  .nbc-shop .title,
  .upcoming-event .title,
  .scoreboard .title {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .nbc-shop li span,
  .upcoming-event li span,
  .scoreboard li span {
    font-size: 12px;
  }
  .upcoming-event li:nth-last-child(1) {
    padding-top: 0px;
  }
  .scoreboard li:nth-child(2) {
    padding-bottom: 5px;
  }
  .sidebar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .post-content h2 {
    font-size: 20px;
  }
  .sponsors h2 {
    font-size: 20px;
  }
  .post {
    padding: 10px 0 25px 0;
  }
  .post img {
    max-width: 100px;
    max-height: 100px;
  }
  .post-content button {
    width: 100px;
  }
  .sponsors {
    padding-top: 20px;
  }
  .footer .title {
    font-size: 18px;
  }
  .flickr,
  .contact {
    width: calc(100% / 2 - 100px);
  }
  .flickr-images {
    grid-template-columns: repeat(3, 40px);
  }
  .flickr-image {
    height: 40px;
    width: 40px;
  }
  .about {
    padding-bottom: 10px;
  }
  .contact span,
  .contact ul,
  .about-wrap p {
    font-size: 12px;
  }
  .about-wrap p {
    margin-bottom: 5px;
  }
  .sponors-container {
    padding: 10px 0 15px 0;
  }
  .footer {
    padding: 25px 20px 45px 20px;
  }
}

@media only screen and (max-width: 520px) {
  .carousel-inner {
    min-height: auto;
    max-height: 170px;
  }
  .quote-wrap {
    width: 100%;
  }
  .quote-wrap span {
    font-size: 16px;
  }
  .social-icons a {
    width: 25px;
    height: 25px;
  }
  .social-icons a img {
    height: 12px;
  }
  .sponsor {
    height: 60px;
  }
  .footer .title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 385px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .quote-wrap span {
    font-size: 14px;
  }
  .flickr,
  .contact {
    width: 100%;
  }
}
